<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-5">
        <p style="color: green"><%= notice %></p>
        <br>
        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i class="bi bi-list-task me-2"></i>Task Details</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
            <%= form_with(model: @task, class: "row g-3 align-items-center") do |form| %>
              <% if @task.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

                  <ul>
                    <% @task.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <fieldset enable>
                <div class="form-group mx-sm-3 mb-2">
                  <%= form.label :title, class: "form-label", style: "display: block" %>
                  <%= form.text_field :title, class: "form-label" %>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <%= form.label :content, class: "form-label", style: "display: block" %>
                  <%= form.text_area :content, class: "form-label" %>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <%= form.label :due_date, class: "form-label", style: "display: block" %>
                  <%= form.date_field :due_date, class: "form-label" %>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <%= form.check_box :completed, class: "form-label" %>
                  <%= form.label :completed, class: "form-label", style: "display: block" %>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <%= form.submit class: "btn btn-outline-primary btn-sm" %>
              </fieldset>
            <% end %>
          </div>
          <div class="card-footer text-end p-3">
            <%= link_to " Back", tasks_path, class: "bi bi-arrow-left-circle btn btn-outline-primary btn-sm" %>
            <%= link_to " Show", @task, class: "bi bi-eye btn btn-outline-primary btn-sm"  %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
